/*Pagina Final, Pagina Carrinho, Pagina Login*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ajuda a manter o tamanho correto dos elementos */
}
body {
    /* Garante que o corpo ocupe a largura total sem margens */
    margin: 0;
    padding: 0;
}
/*-------------------Pagina Final--------------------*/
.container-final{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 3fr 3fr 2fr;
    grid-template-areas: 
    "header-final header-final header-final"
    "produto-final informação-final body-final"
    "status status status"
    "footer-final footer-final footer-final";
    gap: 10px;
    height: 100vh;
}

.header-final{
    grid-area: header-final;
    background-color: rgb(99, 155, 218);

}

.logo-final{
    position: absolute; /*mantém a imagem no local*/
    left: 0; /*deixa a esquerda*/
    top: 10px; /*distância do topo*/
    width: 90px;/*tamanho da imagem da logo*/
    margin: 20px;
}

.titulo-final{
    justify-self: center; /*mantém o título no centro*/
    margin: 30px; 
    color: white;
}

.produto-final{
    grid-area: produto-final;
    background-color: rgb(251, 251, 251);
}

.produto-final img{
    width:180px; /*largura da imagem*/
    height:180px; /*altura*/
    object-fit: cover; /*coloca dentro da area do grid*/
    margin: 20px;
}

.informação-final{
    grid-area: informação-final;
    background-color:rgb(251, 251, 251);
    margin: 20px;
    font-size: 20px;
}

.body-final{
    background-color:rgb(251, 251, 251);
}

.status{
    grid-area: status;
    background-color: rgb(251, 251, 251);
    gap: 10px;
    margin: 20px;
}

.etapa{
    padding: 15px 15px;
    border-radius: 10px;
    background-color: rgb(192, 186, 186);
    justify-self:left;
    gap: 10px;
    margin: 5px;
    
}

.ativo{
    background-color: plum;
}

.concluido{
    background-color: rgb(78, 223, 103);
}

.footer-final{
    grid-area: footer-final;
    background-color: rgb(99, 155, 218);
    border-radius: 10px;
    text-align: center;
}

/*-------------Pagina Carrinho------------*/

.body-carrinho {
    background-color: rgb(251, 251, 251);
}

.container-carrinho {
    display: grid;
    grid-template-columns:1fr 2fr 2fr ;
    grid-template-rows:1fr 2fr 2fr 1fr ;
    grid-template-areas:
    "header-carrinho header-carrinho header-carrinho"
    "produto-carrinho informações total"
    "pagamento pagamento finalizar"
    "footer-carrinho footer-carrinho footer-carrinho";
    gap: 10px;
    height: 100vh;/*tamanho da página*/
}

.header-carrinho {
    grid-area: header-carrinho;
    background-color: rgb(99, 155, 218);
    align-items: center;
    padding: 0;
    margin: 0;
    color: white;
}

.logo-carrinho{
    position: absolute; /*mantém a imagem no local*/
    left: 0; /*deixa a esquerda*/
    top: 10px; /*distância do topo*/
    width: 90px;/*tamanho da imagem da logo*/
    margin: 20px;
}

.titulo-carrinho{
    justify-self: center;
    margin: 30px;
}

produto-carrinho {
    grid-area: produto-carrinho;
    background-color: rgb(251, 251, 251);
}

.imagem-produto {
    position: absolute; /*mantém a imagem no local*/
    left: 0; /*deixa a esquerda*/
    width: 170px;/*tamanho da imagem*/
    margin: 20px;
    justify-self: center;
}

informações {
    grid-area: informações; 
    background-color: rgb(251, 251, 251);
}

total {
    grid-area: total;
    background-color: rgb(251, 251, 251);
}

pagamento {
    grid-area: pagamento;
    background-color: rgb(251, 251, 251);
}

.formas-pagamento {
    display:flex;
    gap:100px;
    margin:30px;
}

.botao-tipo-pagamento {
    padding: 40px 40px;  /*Altura e largura interna*/
    border-radius: 10px;  /*Arredondado*/
    border: none;  /*remove a borda*/
    background-color:rgb(60, 179, 239);  /*Cor do botão*/
    cursor: pointer;  /*Muda o mouse para mão*/
    transition: 0.2s;
}
button:focus  {
  background-color: plum;      /* Cor ao clicar */
}

.finalizar {
    grid-area: finalizar;
    justify-self: end;
    align-self: end;  /*jogar para o final na vertical*/
    background-color: rgb(251, 251, 251);
}
.botao-finalizar {
    padding: 20px 40px;  /*Altura e largura interna*/
    border-radius: 10px;  /*Arredondado*/
    border: 0 0 10xp black;  /*adiciona cor e tamanho da borda*/
    background-color:rgb(50, 94, 139);  /*Cor do botão*/
    cursor: pointer;  /*Muda o mouse para mão*/
    align-items: end;
}

.footer-carrinho {
    grid-area: footer-carrinho;
    background-color:rgb(99, 155, 218);
    text-align: center;
}

/*----------Pagina Login----------*/

.body-login {
    margin: 0;  /*margem para cima e para baixo*/
    height: 100vh;  /*Altura da tela 100*/
    display: flex;  /*Sistema de alinhamento */
    justify-content: center;  /*centralizar na horizontal*/
    align-items: center;  /*centralizar na vertical*/
    background-color:rgb(251, 251, 251) ;  /*Cor de fundo da página*/
    font-family: Arial, sans-serif;  /*Escolha da fonte */
    }

.login-container {
    background-color: rgb(135, 181, 247);  /*Cor de fundo*/
    padding: 30px;  /*espaço interno*/
    border-radius: 15px;  /*Bordas arredondadas*/
    margin: 3%; /*Margem */
    width: 100%;  /*Ocupa o máximo de Largura possivel*/
    max-width: 600px; /*Limite de tamanho*/
    }

h1{
    text-align: center;
}

input {
    width: 100%;  /*Ocupa toda a largura da caixa*/
    padding: 12px;  /*Espaço interno*/
    border-radius: 20px;  /*Arredondar a borda*/
    border:2px solid #ccc;  /*Remove borda padrão*/
    margin-top: 5px;  /*Espaço acima do input*/
    font-size: 16px;
}

button {
    padding: 12px;  /*Altura e largura interna*/
    border-radius: 5px;  /*Arredondado*/
    border: 0 0 10xp black;  /*remove a borda*/
    background-color:rgb(64, 106, 149);  /*Cor do botão*/
    cursor: pointer;  /*Muda o mouse para mão*/
    transition: 0.3s;
    font-size:15px;
}

button:hover {
    background-color: #0056b3;
}

.botoes {
    display: flex;  /*Coloca os botões lado a lado*/
    justify-content: flex-end;  /*Tudo a direita*/
    gap: 10px;  /*Espaço entre os botões*/
    margin-top: 20px;  /*espaço a cima deles*/
    transition: 0.3s;
}


/*-----------Logo----------*/

.logo{
    width: 80px;/*tamanho da imagem da logo*/
}